.sidebar {
  background: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4.5vw;
  min-width: 40px;
  flex-shrink: 0;
  height: 100%;
}

.iconContainer {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
}

.iconContainer:hover {
  background: var(--sidebar-hover-bg);
}

.active {
  border-left: 2px solid var(--accent-color);
}

.icon {
  height: 35px;
  width: 35px;
  padding: 0.5rem 0;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 2000px) {
  .sidebar {
    width: 2.5vw;
  }
}

@media screen and (max-width: 1100px) {
  .sidebar {
    width: 6vw;
  }
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 8vw;
  }
  .icon {
    height: 48px;
    width: 48px;
    padding: 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 56px;
    min-width: 56px;
  }
  .iconContainer {
    min-height: 48px;
  }
  .icon {
    height: 44px;
    width: 44px;
    padding: 0.5rem;
    min-height: 44px;
    min-width: 44px;
  }
}

@media screen and (max-width: 380px) {
  .sidebar {
    width: 52px;
    min-width: 52px;
  }
  .iconContainer {
    min-height: 44px;
  }
  .icon {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
  }
}
